.authContainer{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.formInput{
    display: flex;
    justify-content: start;
    align-items:end;
    margin-top: 20px;
    gap: 20px;
}
.formInput input{
    outline: none;
    border: none;
    padding: 8px 5px;
    border-bottom: 1px solid #666;
    width: 100%;
}
.authContainer button{
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #666;
    background-color:  rgb(236, 173, 14);
    padding: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.authContainer img{
    border: 2px solid rgb(236, 173, 14);
    border-radius: 50px;
    width: 100%;
    object-fit: contain;
}