.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    padding: 8px 5px;
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search button {
    background-color: black;
    border: none;
    outline: none;
    height: 30px;
    width: 50px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchCon {
    display: flex;
    width: 100%;
}

.searchResultCon {
    position: absolute;
    max-width: 40rem;
    width: 100%;
    top: 50px;
    left: 0px;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-color: white;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
    border: 1px solid #666;
    z-index: 50;
    padding: 10px ;
    color: black;
}
.closeBtn{
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #00b824;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.searchResultCon img{
        width: 4rem;
    height: 4rem;
    border-radius: 5px;
    object-fit: cover;
}
.searchResultCon .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchResultCon ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    margin-top: 20px;
}
.searchResultCon ul li{
    width: 100%;
    border-bottom: 1px solid #666;
}
.searchResultCon ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.searchResultCon ul li:last-child{
    border: none !important;
}
.searchElement:hover{
    background-color: #f3f2f2;
}